/*$background: #292929;
$foreground: #EEE;
$highlight: #FFCB33;
$lowlight: #A600FF;*/

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), url(../webfonts/Merriweather-BoldItalic.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), url(../webfonts/Montserrat-Regular.ttf);
}

body {
  border: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14pt;
  letter-spacing: 0.03em;
  background-color: #292929;
  color: #EEE;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.05em;
  margin: 0.7em 0;
  line-height: normal;
}

a {
  text-decoration: none;
  color: #FFCB33;
}
a:hover {
  text-decoration: underline;
}
a.permalink {
  color: #EEE;
}
a.permalink:hover {
  text-decoration: none;
}

nav ul {
  padding: 0;
}
nav ul li {
  list-style: none;
  font-size: 1.1em;
  margin-right: 1.3em;
  white-space: nowrap;
}
@media only screen and (min-width: 48em) {
  nav ul li {
    display: inline;
  }
}

.headline {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.headline .logo {
  flex: 0;
  margin-right: 0.5em;
}
@media only screen and (max-width: 26em) {
  .headline .logo {
    flex: 1;
  }
}
.headline .logo img {
  width: 150px;
  height: 150px;
}
.headline .nav {
  flex: 1;
}
.headline .nav h1 {
  white-space: nowrap;
  margin-top: 0;
  padding-top: 0.4em;
}
@media only screen and (max-width: 65em) {
  .headline .nav h1 {
    font-size: 1.4em;
  }
}

.container {
  padding-top: 0.7em;
  width: 90%;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 33.75em) {
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 60em) {
  .container {
    width: 68%;
  }
}

.divider {
  background: #FFCB33;
  background: -webkit-linear-gradient(left, #FFCB33, #A600FF);
  background: -moz-linear-gradient(left, #FFCB33, #A600FF);
  background: linear-gradient(to right, #FFCB33, #A600FF);
  height: 1px;
  margin: 0.7em 0;
}

.footer {
  text-align: center;
  margin-bottom: 0.7em;
}

.icon {
  font-size: 1.2em;
  margin-right: 0.2em;
}
.icon:hover {
  text-decoration: none;
}

.shrink-content {
  margin-bottom: 1em;
}
@media only screen and (min-width: 33.75em) {
  .shrink-content {
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 60em) {
  .shrink-content {
    margin-bottom: 3em;
  }
}
.shrink-content figure {
  padding: 0;
  margin: 0 0 1.5em 0;
  line-height: normal;
}
.shrink-content figure img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.shrink-content figure figcaption h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 0.8em;
  color: #aaa;
  margin: 0.2em 0 0;
  text-align: center;
}

.top-title {
  border-bottom: 1px solid #444;
  padding: 1em 0;
}
.top-title .name {
  font-size: 1.8em;
  font-family: "Merriweather";
  font-style: italic;
  color: white;
}
.top-title .dates {
  padding-top: 0.6em;
  font-size: 0.8em;
  color: #AAA;
  line-height: 1.4em;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  flex: 1 0 50%;
  white-space: nowrap;
  box-sizing: border-box;
  min-width: 14em;
  padding: 0 0.5em 0.5em 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.prev-next {
  text-align: center;
}
.prev-next a {
  padding-right: 1em;
}
